.logout-main {
  background-color: #272727;
  position: absolute;
  top: 30%;
  left: 40%;
  border-radius: 10px;
}
.abcd {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #151515b3;
  width: 100%;
  height: 100vh;
}

.logout-main h4 {
  color: white;
  /* margin-top: 200px; */
  padding: 20px;
}
.twobtn {
  display: flex;
  justify-content: flex-end;
}

.twobtn button {
  margin: 30px 20px 30px;
}

.cancel:hover {
  color: crimson;
  border: 1px solid crimson;
  background-color: #272727;
  transition: all 0.5s;
}

.yellow:hover {
  color: #ffc107;
  border: 1px solid #ffc107;
  background-color: #272727;
  transition: all 0.5s;
}

/* .backdrop {
  background-color: #000;
  height: 100vh;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
} */
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-content {
  background: #272727;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.backdrop{
  position:absolute;
  /* background: rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: 100%;
  z-index: -1;
}